<footer class="site-footer">

    <MudContainer MaxWidth="MaxWidth.Large">

        <MudGrid Class="footer-top">

            <!-- BRAND -->
            <MudItem xs="12" md="3">
                <div class="footer-brand">
                    <MudText Typo="Typo.h5" Class="footer-logo">
                        XQARE
                    </MudText>

                    <MudText Class="footer-tagline">
                        Build Who You Are
                    </MudText>
                </div>
            </MudItem>


            <!-- QUICK LINKS -->
            <MudItem xs="6" md="3">
                <div class="footer-column">
                    <MudText Class="footer-heading">QUICK LINKS</MudText>

                    <MudLink Href="/">Home</MudLink>
                    <MudLink Href="/about">About</MudLink>
                    <MudLink Href="/contact">Contact</MudLink>
                    <MudLink Href="/">Career Insights</MudLink>
                </div>
            </MudItem>


            <!-- PLATFORM -->
            <MudItem xs="6" md="3">
                <div class="footer-column">
                    <MudText Class="footer-heading">PLATFORM</MudText>

                    <MudLink Disabled="true" Href="/mentors">Mentors</MudLink>
                    <MudLink Disabled="true" Href="/jobs">Jobs</MudLink>
                    <MudLink Href="/community">Community</MudLink>
                </div>
            </MudItem>


            <!-- LEGAL -->
            <MudItem xs="6" md="3">
                <div class="footer-column">
                    <MudText Class="footer-heading">LEGAL</MudText>
                    
                    <MudLink Href="/privacy">Privacy Policy</MudLink>
                    <MudLink Href="/terms">Terms</MudLink>
                    <MudLink Disabled="true" Href="/cookie-policy">Cookies</MudLink>
                    <MudLink Disabled="true" Href="/refund-policy">Refund Policy</MudLink>
                </div>
            </MudItem>

        </MudGrid>


        <!-- DIVIDER -->
        <div class="footer-divider"></div>


        <!-- BOTTOM -->
        <div class="footer-bottom">

            <MudText class="footer-copy">
                © @DateTime.UtcNow.Year XQARE. All rights reserved.
            </MudText>

            <div class="footer-social">

                <MudIconButton Href="https://x.com/XQARE_official" Icon="@Icons.Custom.Brands.Twitter" />
                <MudIconButton Href="https://www.linkedin.com/company/xqare" Icon="@Icons.Custom.Brands.LinkedIn" />
                <MudIconButton Href="https://www.instagram.com/xqare_official" Icon="@Icons.Custom.Brands.Instagram" />
                <MudIconButton Href="https://github.com/XQARE-official" Icon="@Icons.Custom.Brands.GitHub" />

            </div>

        </div>

    </MudContainer>

</footer>